* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 10vh;
  background-color: #5c5458;
  text-align: center;
  padding: 3vh;
}
#lewygorny {
  width: 30%;
  height: 40vh;
  float: left;
  background-color: #b5a7ad;
}
#lewygorny input {
  border-radius: 10px;
  height: 4vh;
  width: 80%;
}
#lewydolny {
  width: 30%;
  height: 40vh;
  background-color: #b5a7ad;
  float: left;
}
#lewydolny input {
  border-radius: 5px;
  background-color: aliceblue;
}
#lewydolny select,
option {
  border-radius: 5px;
  background-color: aliceblue;
}
#głowny {
  text-align: center;
  font-size: 4vh;

  background-color: #b5a7ad;
  width: 100%;
  height: 80vh;
  float: right;
  overflow-y: scroll;
}
#głowny::-webkit-scrollbar {
  display: none;
}
footer {
  background-color: #5c5458;
  float: left;
  width: 100%;
  height: 10vh;
}
.formularzyk {
  font-size: x-large;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
}
