* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  height: 10vh;
  background-color: #4C5053; ;
  text-align: center;
  padding: 3vh;
  display: flex;
  justify-content: center;
}
#głowny{
  background-color: #838A8F;
  width: 100%;
  height: 80vh;
}
footer {
  background-color: #4C5053;
  float: left;
  width: 100%;
  height: 10vh;
}
.formularzyk {
  font-size: medium;
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
.logowanie{
  margin: auto;
  width: 500px;
  border-radius: 5px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.logowanie form{
  margin-top: 15vh;
}
textarea {
  max-width: 700px;
  background-color: #CAD4DB;
  border: 0px solid black;
}
input {
  background-color: #CAD4DB;
  border: 2px solid #4C5053;
}
select {
  background-color: #CAD4DB ;
  border: 0px solid black;
}
option {
  background-color: #CAD4DB;
  border: 0px solid black;
}
