*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 10vh;
    background-color: #4C5053; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    color:black;
}
header #baner{
    height: 100%;
    width: 100px;
    text-align: center;
}
#ikona{
    height: 7vh;
    width: 7vh;
    background-image: url(ikona.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#lewygorny{
width: 30%;
height: 40vh;
float: left;
background-color: #A7AFB5;
}
#lewygorny input{
border-radius: 10px;
height: 4vh;
width: 80%;
margin: 15px;
}
#lewydolny{
    width: 30%;
    height: 40vh;
    background-color: #A7AFB5;
    float: left;
    padding: 15px;
}
#lewydolny input{
    border-radius: 5px;
    background-color: aliceblue;
    width:100%
}
#lewydolny select,option{
    border-radius: 5px;
    background-color: aliceblue;
}
#głowny{
    background-color: #838A8F;
    width: 70%;
    height: 80vh;
    float: right;
    overflow-y: scroll;
}
.wynik{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 25px 0px 0px 25px;
    display: inline-block;
}
.wynik p {
    display: flex;
    justify-content: space-around;
}
.zdjecie{
    width: 250px;
    height: 120px;
    border: 1px solid black;
    margin: 25px 0px 0px 25px; ;
}
#głowny::-webkit-scrollbar {
    display: none;
}
footer{
    background-color: #4C5053;
    float: left;
    width: 100%;
    height: 10vh;
}
textarea {
    max-width: 700px;
    background-color: #CAD4DB;
    border: 0px solid black;
  }
  input {
    background-color: #CAD4DB;
    border: 2px solid #4C5053;
  }
  select {
    background-color: #CAD4DB ;
    border: 0px solid black;
  }
  option {
    background-color: #CAD4DB;
    border: 0px solid black;
  }
  
@media screen and (max-width: 768px) 
{
    #lewygorny {
        width: 100%;
        height: 40px;
        float: left;
        position: relative;
    }
    footer{
        display: none;
    }
    #lewydolny {
        width: 100%;
        height: 500px;
        float: left;
    } 
    #głowny {
        width: 100%;
        height: 600px;
        position: absolute;top: 320px;
    }
    #lewygorny input{
        width: 100%;
        margin: 0px;
    }
    .wynik{
        margin: 25px 0px 0px 75px;
    }
}